@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 50px;
}

.btn-color-transparent {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.btn-color-transparent:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.nuestros-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home,
.nuestros-servicios {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home p {
  font-size: 24px;
  line-height: 1.6;
}

.card {
  margin-bottom: 50px;
}

.card-title {
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.card-text {
  border-top: 2px solid #f0f0f0;
  padding-top: 10px;
}

.list-group-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
}

.list-group-item:nth-child(odd) {
  background-color: white;
  color: #555;
  border: none;
}

.list-group-item:nth-child(even) {
  background-color: #f0f0f0;
  color: #555;
  border: none;
}

#sobre-nosotros h1 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  font-family: monospace, arial;
  white-space: nowrap;
  border-right: 4px solid;
  width: 55ch;
  animation: typing 2s steps(55), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: #555;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor {
  visibility: hidden;
}

@media (max-width: 992px) {
  #sobre-nosotros h1 {
    width: auto;
    border-right: none;
    white-space: normal;
  }
  #sobre-nosotros .cursor {
    display: inline;
    animation: blink-mobile 0.5s infinite step-end alternate;
  }
  @keyframes blink-mobile {
    50% {
      visibility: visible;
    }
  }
}
.contacto {
  min-height: 85vh;
  display: flex;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.contacto h2 {
  font-size: 2em;
  font-weight: bold;
}

.contacto-formulario {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}

.custom-form-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.custom-form-group input,
.custom-form-group textarea {
  border: none;
  border-bottom: 2px solid #ced4da;
  flex: 1;
  border-radius: 0;
  transition: border-color 0.3s;
}

.custom-form-group label {
  padding-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.custom-form-group input:focus,
.custom-form-group textarea:focus {
  border-color: #909599;
  box-shadow: none;
}

.footer {
  height: auto;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons a {
  text-decoration: none;
}

.social-icons i:hover {
  color: #0056b3;
}

.footer p {
  margin-top: 20px;
  color: #6c757d;
}

#register h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  font-family: monospace, arial;
  white-space: nowrap;
  border-right: 4px solid;
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: #555;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#register .logo {
  width: 150px;
}
#register .contacto-formulario {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

#login h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  font-family: monospace, arial;
  white-space: nowrap;
  border-right: 4px solid;
  width: 15ch;
  animation: typing 2s steps(15), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: #555;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#login .logo {
  width: 150px;
}
#login .contacto-formulario {
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.consorcio-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Nuevos estilos agregados para manejar la navegación y el contenido de Consorcios */
body {
  margin-top: 70px; /* Ajuste para la barra de navegación fija */
}

.consorcio-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#principal .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
#principal h1 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  font-family: monospace, arial;
  white-space: nowrap;
  border-right: 4px solid;
  width: 15ch;
  animation: typing 2s steps(15), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: #555;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#micuenta .content-container {
  margin-bottom: 30px; /* Espaciado entre la información y el footer */
}
#micuenta .info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#micuenta .info-column {
  width: 48%; /* Ancho de cada columna, ajusta según tus necesidades */
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #micuenta .info-column {
    width: 100%; /* En dispositivos pequeños, ocupa todo el ancho */
  }
}
#micuenta h1 {
  font-size: 2em;
  font-weight: bold;
  display: block;
  font-family: monospace, arial;
  white-space: nowrap;
  border-right: 4px solid;
  width: 10ch;
  animation: typing 2s steps(10), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  color: #555;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*# sourceMappingURL=main.css.map */
