// Importar fuentes
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

// Variables de fuentes
$font-family-base: 'Nunito', sans-serif;
$font-family-textos: monospace, arial;

// Variables de colores
$color-transparent: transparent;
$color-dark: rgba(0, 0, 0, 0.5);
$color-light: rgba(255, 255, 255, 0.9);
$color-light-hover: rgba(255, 255, 255, 0.3);
$color-dark-solid: #555;
$border-color-dark: rgba(0, 0, 0, 0.5);
$border-color-light: #f0f0f0;
$color-blue-light: #0056b3;
$color-blue-bright: #007bff;
$color-green-dark: #6c757d;
$color-gray-medium: #909599;
$color-gray-light: #ced4da;
$color-background-light: #f8f9fa;
$color-white: #fff;
$color-black-transparent: rgba(0, 0, 0, 0.1);




// Variables misceláneas
$backdrop-blur: blur(10px);



